.max-w-lg.mx-auto
  .flex.flex-wrap.flex-no-grow.items-center.justify-center.min-h-0.md:min-h-screen.p-2
    %div(class="w-full md:w-1/3 p-4")
      %h1.text-blue-light.font-light.pb-4 Crawl Vote
      %p.text-black.leading-normal
        Does your group on the move need help picking a next stop?
        Tell us where you’re going and what kind of place you’re
        looking for, and we’ll give you some suggestions to vote on.
    %two-tabs(class="w-full md:w-2/3 p-4")
      %template(slot="firstTabTitle")
        Create a crawl
      %template(slot="firstTabContent")
        = form_with model: crawl do |f|
          .pb-4
            = f.label :term, 'Find', class: 'block pb-1 font-medium text-sm text-blue-light uppercase tracking-wide'
            = f.text_field :term, class: 'shadow appearance-none border rounded w-full py-2 px-3', placeholder: 'e.g. tacos'
          .pb-4
            = f.label :location, 'Near', class: 'block pb-1 font-medium text-sm text-blue-light uppercase tracking-wide'
            = f.text_field :location, class: 'shadow appearance-none border rounded w-full py-2 px-3', placeholder: 'e.g. Barrio Logan, San Diego'
          .pt-2
            = f.submit 'Create Crawl', class: 'btn btn--active w-full'
      %template(slot="secondTabTitle")
        Join a crawl
      %template(slot="secondTabContent")
        %join-crawl-form
